.first-image img {
  max-width: 100%;
}

.solutions {
  height: 950px;
  background-color: #f7f7f7;
}

.solutions .title {
  background-color: #f7f7f7;
}

.solutions .title h2 {
  color: #191970;
  font: 700 32px Ubuntu, sans-serif;
  text-align: center;
  padding: 20px;
}

.solutions .title .evolution {
  color: #701919;
  font: 700 20px Ubuntu, sans-serif;
  text-align: center;
  padding: 20px;
  margin-bottom: 15px;
}

.solutions .title p {
  color: #000;
  font: 700 20px Ubuntu, sans-serif;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
}

.solutions img {
  margin: 10px 10px;
  padding: 5px;
  height: 100px;
}

.solutions button {
    cursor: pointer;
    height: 60px;
    background: #701919;
    border: 0;
    border-radius: 8px;
    margin-top: 16px;
    display: flex;
    font-weight: 800;
    line-height: 60px;
    transition: filter 0.2s;
    padding: 15px;
}

.solutions button a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font: 700 18px Ubuntu, sans-serif;
}

.solutions .buttons { 
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.solutions .buttons:hover{
  filter: brightness(90%)
}

.icons {
  margin: auto;
  max-width: 90%;
  display: grid;
  row-gap: 10px;
  column-gap: 5px;
  grid-auto-rows: 90px;
  grid-auto-columns: auto;
  grid-template-areas: 
    "a a b b c c d d e e"
    "a a b b c c d d e e"
    "f f g g h h i i j j"
    "f f g g h h i i j j"
    "k k l l m m n n o o"
    "k k l l m m n n o o";
  align-items: flex-start;
  justify-items: center;
}

.financeiro {
  grid-area: a;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comercial {
  grid-area: b;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logistica {
  grid-area: c;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.producao {
  grid-area: d;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servico {
  grid-area: e;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fiscal {
  grid-area: f;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.controleQualidade {
  grid-area: g;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.manutAtivos {
  grid-area: h;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gestaoPessoas {
  grid-area: i;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.medicina {
  grid-area: j;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gestaoAmbiental {
  grid-area: k;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gestaoClinica {
  grid-area: l;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.universal {
  grid-area: m;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.crm {
  grid-area: n;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.BI {
  grid-area: o;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.icons p {
  max-width: 140px;
  color: #000;
  font: 700 18px Ubuntu, sans-serif;
  text-align: center;
}