.outside-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  background-color: #f7f7f7;
}


.image img {
  max-width: 100%;
}

.solution-icons img {
  margin: 10px 10px;
  padding: 5px;
  height: 120px;
  cursor: pointer;
}

.solution-icons img:hover {
  opacity: 0.7;
}

.outside-container .animate__animated {
  flex: 1;
  max-width: 785px;
}

.solution-icons {
  margin-bottom: 58px;
  margin-top: 40px;
  margin-left: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 20px;
}

.solution-icons p {
  max-width: 140px;
  color: #000;
  font: 700 16px Ubuntu, sans-serif;
  text-align: center;
}

.solution-text {
  margin-left: 60px;
  margin-top: 20px;
  width: 450px;
  margin-right: 60px;
  margin-bottom: 20px;
}

.solution-text h2 {
  margin-top: 30px;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
  font: 700 18px Ubuntu, sans-serif;
  width: 100%;
  margin-bottom: 20px;
}

.solution-text h3 {
  color: #701919;
  margin-top: 30px;
  font: 700 16px Ubuntu, sans-serif;
  width: 100%;
  margin-bottom: 20px;
}

.solution-text p {
  text-align: justify;
  font: 400 16px Ubuntu, sans-serif;
  line-height: 24px;
}

.solution-text ul {
  list-style-type: '✓';
  list-style-position: outside;
}

.solution-text ul li {
  margin: 0;
	padding: 4px 0 0 8px;
  text-align: justify;
  font: 400 16px Ubuntu, sans-serif;
  margin: 0 0 10px;
}

.solution-icons article {
  display: flex;
  flex-direction: column;
  align-items: center;
}